header {
    background-color: #f9f9f9;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
}
header .date {
    font-size: 40px;
    font-weight: bold;
    color: #555;
}