header {
    background-color: #f9f9f9;
    padding-right: 3cqw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
}
.date {
    font-size:30px;
    font-weight: bold;
    color: #555;
}